*~
*.pyc
*.out
*.log
*.pdf
*.aux
*.odg
*.eps
*.png
*.lprof

.idea/
.cache/

out/
opt/
report/
example/*.yaml
example/*.ipynb
example/*.json
example/*.bak
example/.ipynb_checkpoints/

doc/html
doc/doctrees

